.contextmenu-item {
  color: #222;
  font-size: 12px;
  padding: 0 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  user-select: none;
  cursor: default;
}

.contextmenu-item:hover {
  background-color: #f4f4f4;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
